@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

      /* Regra do Firefox: define as cores e a espessura */
    scrollbar-color: #009dc1 #e6e6e6; /* polegar / trilho */
    scrollbar-width: 11px; /* fina */
}

html {
  scroll-behavior: smooth;
}


/* Regras do WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 11px; /* Largura da barra */
}

::-webkit-scrollbar-track {
    background: #e6e6e6; /* Cor do trilho (fundo) */
}

::-webkit-scrollbar-thumb {
    background-color: #009dc1; /* Cor do polegar (parte que move) - Exemplo: Azul */
    border-radius: 20px;
    border: 2px solid #009dc1; /* Adiciona uma borda para criar espaço */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #009dc1;
}


/* para rolagem da aba isntagram */

/* src/styles/globals.css */

/* Defina o keyframe para a animação de rolagem */
@keyframes scroll {
  0% {
    /* Inicia com o primeiro conjunto de 5 posts visível (sem deslocamento) */
    transform: translateX(0);
  }
  100% {
    /* Desloca a div em 50% de sua largura total, movendo exatamente
       o primeiro conjunto de 5 posts para fora da tela */
    transform: translateX(-50%);
  }
}

/* Aplica a animação à div 'slide-track' */
.slide-track {
  /* O dobro da largura dos 5 posts visíveis (200%) é para garantir
     que todos os 10 posts estejam na linha */
  width: 200%; 
  
  /* Aplica o keyframe 'scroll' por 30s, de forma linear e infinita */
  animation: scroll 30s linear infinite; 
}

/* Define a pausa na interação */
.slide-track.paused {
  /* Esta linha é o que pausa a animação de rolagem */
  animation-play-state: paused;
}

/* Garante que o cursor mude para indicar que o elemento é clicável */
.slide-track {
  cursor: pointer;
}
