@media (max-width: 640px){
    .area-contact{
        flex-direction: column;
    }

    .left-side{
        padding-left: 2rem;
    }


    .left-side > div:nth-child(5),.left-side > div:nth-child(1){
        align-self: center;
    } 


    .area-maps{
        padding: 1rem;
    }

     .maps {
        width: 95%;
    }
}

@media (max-width: 768px){

.left-side{
        margin-right: 3rem;
    }

}