@media(min-width:1024px){

    .footer-area{
         display: grid;
         grid-template-columns: repeat(6,1fr);
    }

    .client-area,.bussines, .info,.followus {
        margin-left: 1rem;
    }

    .bussines,.followus{
        margin-left: 3rem;
    }

}

@media(max-width:768px){

    .footer-area{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         column-gap: 1rem;
    }

}

@media(max-width:640px){

    .footer-area{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         column-gap: 2em;
         row-gap: 1rem;
    
    
    }
}

h4{
     text-transform: uppercase;
     margin-bottom: -.1rem;
}