.main-section-area{
    width: 100%;
    height: 90vh;
    background-image: url('../assets/images/background-agua.jpg');
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}

/* .img-background{
    z-index: 0;
    width: 100%;
    height: 9rem;
} */

.area-info{
    z-index: 1;
}