/* @media (max-width: 1024px){

   .section-whyChose{
    background-color: orange;
   }


}

@media (max-width: 768px){

   .section-whyChose{
    background-color: red;
   }


}



@media (max-width:420px){

    .section-whyChose{
    background-color: blue;
   }

} */